<main>
  <div class="welcome-message" style="text-align: center;">
    <h1>BIENVENIDO</h1>

    <p>
      lorem lorem
      lorem lorem
      lorem lorem
      lorem lorem
      v
      lorem lorem vv

    </p>
    <!-- <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true"
      [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
      <ng-template #item let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
      </ng-template>
      <ng-template #thumbnail let-item>
        <img [src]="item.thumbnailImageSrc" style="display: block;" />
      </ng-template>
      <ng-template #caption let-item>
        <div class="text-xl mb-2 font-bold text-white">{{ item.title }}</div>
        <p class="text-white" style="font-size: 14px; color: white;">{{ item.alt }}</p>
      </ng-template>
    </p-galleria> -->
  </div>
</main>