<app-header (isLogin)="changeLoginState($event)" (dataMenu)="passDataMenu($event)"></app-header>
<div class="app-layout">
  <app-sidebar *ngIf="isAuthenticated"></app-sidebar>
  <div class="main-content" [class.with-sidebar]="isAuthenticated">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <p-dialog showHeader="false" [modal]="true" closable="false" [(visible)]="visible"
class="dialogo"
>
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
  class="spinDialgo" />
</p-dialog> -->
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '95px' }" [closable]="false" [draggable]="false"
  [showHeader]="false">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
    [style]="{ width: '50px', height: '50px',marginTop:'20px' }" />
</p-dialog>