<style>

</style>
<div class="container-general">

    <p-card>
        <ng-template pTemplate="header">
            <div class="card-header">
                <div class="header-content">
                    <h2 class="header-title">Noticias</h2>
                    <p class="header-subtitle">Consulta las ultimas noticias.</p>
                </div>

            </div>
        </ng-template>
        <div class="noticias-container">
            <!-- Noticia 1 -->
            <div class="noticia" *ngFor="let noticia of arrayNoticias;let i = index;">
                <div class="noticia-item">
                    <div class="noticia-imagen izquierda" *ngIf="i % 2 === 0">
                        <img class="img-noticia" [src]="'https://solanum.ledesing.com.mx/'+noticia.rutaImagen"
                            alt="Imagen de la noticia 1">
                    </div>

                    <div class="noticia-texto">
                        <h2>{{noticia.titulo}}</h2>

                        <p class="demo-class" [innerHTML]="noticia.descripcionSafe"></p>


                        <p-button label="leer mas.." [link]="true" (click)="showDialog(noticia)" />
                    </div>

                    <div class="noticia-imagen derecha" *ngIf="i % 2 !== 0">

                        <img class="img-noticia" [src]="'https://solanum.ledesing.com.mx/'+noticia.rutaImagen"
                            alt="Imagen de la noticia 1">
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    <p-dialog [(visible)]="visible" [modal]="true" header="{{noticia.titulo}}"
        [style]="{ width: '50rem', height: '100vh' }" maximizable="true">
        <div style="width: 40rem;">
            <div style="text-align: center; background-color: #ecf9f8;  border-radius: 8px;">
                <img class="img-noticiaDialog" [src]="'https://solanum.ledesing.com.mx/'+noticia.rutaImagen"
                    alt="Imagen de la noticia 1">
            </div>
            <p [innerHTML]="noticia.descripcionSafe"></p>
        </div>

        <ng-template #footer>
            <div class="flex justify-end gap-2">
                <p-button label="Cerrar" (click)="visible = false" full />
            </div>
        </ng-template>

    </p-dialog>
</div>