.noticias-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.noticia-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    // border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

.noticia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    //border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    //  background-color: #f9f9f9;
}

.noticia-imagen {
    flex: 1 1 20%;
    max-width: 30%;
}

.noticia-imagen img {
    width: 100%;
    height: auto;
    // border-radius: 8px;
}



.noticia-texto {
    flex: 1 1 60%;
    max-width: 60%;
    text-align: justify;
}

.noticia-texto p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #333;
}

.leer-mas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    //  border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.leer-mas:hover {
    background-color: #0056b3;
}

.box {
    background-color: #fff;
    box-shadow: 2px 2px 10px #246756;
    padding: 2em;
    width: 200px;
}

:host ::ng-deep .demo-class {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // background-color: blue;
}

.noticiapreview p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-noticia {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.img-noticiaDialog {
    width: 25rem;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 16/9;
    overflow: hidden;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}