<div class="container-general">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-card>
        <ng-template pTemplate="header">
            <div class="card-header">
                <div class="header-content">
                    <h2 class="header-title">Configuración de Home</h2>
                    <p class="header-subtitle">Configura el mensaje de bienvenida para los colaboradores</p>
                </div>

            </div>
        </ng-template>
        <div style="display: flex; height: auto">

            <div class="search-form" style=" flex: 1;overflow: auto; ">
                <div class="form-grid">
                    <div class="form-field">
                        <label class="field-label">Mensaje de Bienvenida</label>
                        <input pInputText type="text" [(ngModel)]="homeConfig.titulo" placeholder="Buscar roles..."
                            class="search-input" />
                    </div>
                    <div class="form-field">
                        <label class="field-label">Subencabezado</label>
                        <input pInputText type="text" [(ngModel)]="homeConfig.subTitulo" placeholder="Buscar roles..."
                            class="search-input" />
                    </div>

                </div>
                <div class="">
                    <div class="form-field">
                        <label class="field-label">Texto</label>
                        <p-editor [(ngModel)]="homeConfig.mensaje" (ngModelChange)="updateSanitizedHtml($event)"
                            [modules]="{toolbar: toolbarOptions}" [style]="{ height: '150px',position: 'relative' }">
                            <ng-template #header>

                            </ng-template>
                        </p-editor>
                    </div>
                    <div class="form-field" style="padding-top: 1rem;">
                        <p-button icon="pi pi-save" styleClass="p-button-primary" label="Guardar"
                            (onClick)="saveConfiguracion()" />
                    </div>
                </div>
                <div class="">
                    <div class="form-field">
                        <label class="field-label">Imagenes del carrusel <p-button icon="pi pi-plus" label="Agregar"
                                (onClick)="visible = true" variant="text" />
                        </label>
                        <p-table #dt [value]="imagenesCarrusel" [loading]="loading" [paginator]="true" [rows]="10"
                            [rowsPerPageOptions]="[5, 10, 20, 50]" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} roles"
                            [globalFilterFields]="['nombre', 'descripcion']" [tableStyle]="{ 'min-width': '50rem' }"
                            styleClass="p-datatable-gridlines">


                            <ng-template pTemplate="header">
                                <tr>

                                    <th pSortableColumn="nombre" style="max-width: 70px">
                                        Titulo <p-sortIcon field="nombre"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="descripcion" style="max-width: 150px">
                                        Descripción <p-sortIcon field="descripcion"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="imagen">
                                        Imagen
                                    </th>
                                    <th style="width: 140px">Acciones</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-img>
                                <tr>

                                    <td style="max-width: 70px">
                                        <span class="nombre-rol">{{ img.titulo }}</span>
                                    </td>
                                    <td style="max-width: 150px">
                                        <span class="descripcion-texto">{{ img.descripcion }}</span>
                                    </td>
                                    <td style="max-width: 7rem">
                                        <img [src]="'https://solanum.ledesing.com.mx/' + img.ruta" alt="Imagen"
                                            style="width: 5rem; height: 5rem; border-radius: .25rem;"
                                            class="w-24 rounded">
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <p-button icon="pi pi-trash"
                                                styleClass="p-button-rounded p-button-text p-button-danger delete-btn"
                                                [pTooltip]="'Eliminar'" tooltipPosition="top"></p-button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="5" class="empty-message">
                                        <div class="empty-state">
                                            <i class="pi pi-inbox empty-icon"></i>
                                            <p>No se encontraron roles</p>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="5">
                                        <div class="loading-state">
                                            <i class="pi pi-spin pi-spinner loading-icon"></i>
                                            <p>Cargando roles...</p>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>

            <div class="separator-vertical" style="height: auto;"></div>
            <div style=" flex: 1;overflow: auto;white-space: pre-wrap;word-wrap: break-word;">
                <h1 style="color: rgb(59, 160, 46);text-align: center;">Preview</h1>
                <div class="container-general">
                    <div style="text-align: center; color: rgb(59, 160, 46);">
                        <h2>{{homeConfig.titulo}}</h2>
                        <h3>{{homeConfig.subTitulo}}</h3>
                    </div>
                    <div class="form-field w-full" style="text-wrap: wrap;">

                        <div [innerHTML]="sanitizedHtmlSnippet"></div>
                        <p-galleria [value]="imagenesCarrusel" [responsiveOptions]="responsiveOptions" [autoPlay]="true"
                            [circular]="true" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
                            <ng-template #item let-item>
                                <img [src]="'https://solanum.ledesing.com.mx/' + item.ruta"
                                    style="width: 100%;height: 25rem;  display: block;" />
                            </ng-template>
                            <ng-template #thumbnail let-item>
                                <img [src]="'https://solanum.ledesing.com.mx/' + item.ruta"
                                    style="display: block; width: 3rem; height: 3rem; border-radius: .25rem;" />
                            </ng-template>
                            <ng-template #caption let-item>
                                <div class="text-xl mb-2 font-bold text-white">{{ item.titulo }}</div>
                                <p class="text-white" style="font-size: 14px; color: white;">{{ item.descripcion }}</p>
                            </ng-template>
                        </p-galleria>
                    </div>

                </div>
            </div>







        </div>

    </p-card>
    <p-dialog header="Agregar Imagen" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <div class="flex items-center gap-4 mb-4" style="padding-bottom: 1rem;">
            <label for="titulo" class="font-semibold w-24">Titulo</label>
            <input pInputText id="titulo" class="flex-auto" autocomplete="off" [(ngModel)]="homeimg.titulo" />
        </div>
        <div class="flex items-center gap-4 mb-8" style="padding-bottom: 1rem;">
            <label for="descripcion" class="font-semibold w-24">Descripcion</label>
            <input pInputText id="descripcion" class="flex-auto" autocomplete="off" [(ngModel)]="homeimg.descripcion" />
        </div>
        <div class="flex items-center gap-4 mb-8" style="padding-bottom: 1rem;">

            <p-fileUpload chooseLabel="Selecciona una imagen" #fileUploadRef accept="image/*" [maxFileSize]="2097152"
                invalidFileSizeMessageSummary="'{0}', archivo excede el peso permitido"
                invalidFileSizeMessageDetail="El peso maximo permitido es de: {0}"
                invalidFileTypeMessageDetail=", favor de seleccionar un formato valido"
                invalidFileTypeMessageSummary="'{0}', Archivo invalido solamente se perminten imagenes"
                (onSelect)="onUploadFoto($event)" [auto]="true" chooseIcon="pi pi-upload"></p-fileUpload>

        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancelar" severity="secondary" (click)="visible = false"
                [style]="{ marginRight: '1rem' }" />
            <p-button icon="pi pi-save" styleClass="p-button-primary" label="Guardar" (onClick)="agregarImagenHome()" />
        </div>
    </p-dialog>
</div>