/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
.container-general {
    max-width: 1265px;
    margin: 2rem auto;
    padding: 0 2rem;
  }

  .invalido{
    border: 1px solid !important;
    border-color: #dc2626 !important;
    
  }
  .invalido:focus{
    border-color: #00b398 !important;
  }


  